* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

.ant-pagination-jump-next {
  width: 50px !important;
}

.ant-pagination-item-container {
  width: 3rem;
}
/* fix flash on ie11 please don't remove */
.scroll-container-class:after {
  content: "";
  position: fixed;
  display: block;
}

.ant-table-cell:after{
  content: '' !important;
  position: fixed !important;
  display: block !important;
}