@charset "UTF-8";
/*
 * sp.css
 *
 */

/* デザインA（スマートフォン） */
/* メディアクエリ の記述なし。 */

.hdL {
	padding:13px 0;
	margin-bottom: 28px;
	background:linear-gradient(to left,#0072E5,#00A8FF,#0072E5);
	text-align: center;
	line-height: 1.2;
	color:#fff;
	font-size:2.5rem;
}

.hdL span{
	display:inline-block;
	padding:0 68px;
	background-size:auto 30px;
	background-image:url(../img/common/ico_hd_left.svg),url(../img/common/ico_hd_right.svg);
	background-repeat: no-repeat;
	background-position: left center, right center;
}
.hdM {
	display:flex;
	align-items: center;
	padding:5px 12px;
	margin-bottom: 28px;
	height:30px;
	border:1px solid #D0D0D0;
	border-left:10px solid #007DCB;
	color:#007DCB;
	font-size: 1.6rem;
}

.imgBox{
	width: 100%;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.imgBox img{
	width: 100%;
}

.btnLink{
	display:inline-flex;
	align-items: center;
	justify-content: center;
	padding:0 40px;
	height:36px;
	background:#007DCB;
	border-radius:50px;
	color:#fff;
	font-size: 1.5rem;
	font-weight: 700;
}
.btnLink:before{
	content:"";
	display:block;
	margin-right:6px;
	width:20px;
	height:20px;
	background:url(../img/common/ico_link.svg)no-repeat center;
	background-size:100%;
}

#wrapper {
	overflow:hidden;
	position: relative;
	width:100%;
	min-height:100vh;
	background:url(../img/lottery/bg_lottery_prize.png)repeat-y center top;
}
#top #wrapper{background:#BCBCBC;}
#mainVisual {
	position:relative;
}
#mainVisual img{
	width:100%;
	height: 100%;
}

#mainVisual .scroll{
	position: absolute;
	left:50%;
	bottom: 8px;
	transform: translateX(-50%);
	width: 44px;
	background:url(../img/common/ico_down_circle_sp.svg)no-repeat center bottom;
	background-size:100%;
	text-align: center;
	color:#007DCB;
	padding-bottom: 48px;
}

#mainVisual .scrollTxt{
	position: absolute;
	left:50%;
	bottom: 53px;
	transform: translateX(-50%);
	text-align: center;
	color:#007DCB;
	font-weight: 700;
	font-size: 1.5rem;
	text-shadow: 3px 3px 3px #fff, -3px -3px 3px #fff, -3px 3px 3px #fff, 3px -3px 3px #fff;
}
.prizeList .inner {
	max-width: 900px;
}
.inner {
	padding:0 35px;
	margin:0 auto;
}
.pageTop {
	display:block;
	position: fixed;
	right:0;
	bottom:10px;
	z-index: 9;
	width:60px;
}

.prizeList {
	padding: 0 0 10px;
	background: repeating-linear-gradient(to left, transparent 0, transparent 20px, rgba(232,232,232,0.5) 20px,rgba(232,232,232,0.5) 40px);
}
.prizeList .hdL span{
	padding: 0 86px;
	background-image:url(../img/common/ico_hd_left02.svg),url(../img/common/ico_hd_right02.svg);
}
.prizeList ul{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.prizeList li{
	flex:0 0 48.5%;
	position: relative;
	padding: 0 10px 25px;
	margin: 0 0 30px;
	background:#fff;
	border:3px solid #808080;
	border-radius: 9px;
	text-align: center;
}
.prizeList .tit{
	position: relative;
	left:50%;
	transform: translateX(-50%);
	padding:6px 0;
	margin: -15px 0 10px;
	height: auto;
	width:116%;
	background:url(../img/common/bg_hd_sp.png)no-repeat center;
	background-size:88% 100%;
	text-shadow: 0 0 0 #717171;
	-webkit-text-stroke:0;
	font-size: 1.6rem;
	color:#FFFFFF;
}
.prizeList .people:before{
	content:"";
	position: absolute;
	left:7%;
	bottom:0;
	z-index: -1;
	transform: skewX(-30deg);
	width:86%;
	height:62%;
	background:#DBDBDB;
}
.prizeList .people{
	position: relative;
	z-index: 2;
	line-height: 1.15;
	color:#ffffff;
	-webkit-text-stroke: 2px #434343;
	text-shadow: 0 3px 0 #434343;
	font-size: 2.2rem;
	margin-top:5px;
}
.prizeList .people .num{font-size:1.38em;}

#lottery {
	min-height: 650px;
    position: relative;
}

#lottery .hdL{
	padding: 15px 0;
	font-size: 2.2rem;
}

.lotteryStart{
	padding: 0 0 40px;
	background:url(../img/common/bg_slash.png)no-repeat center;
	background-size:auto 100%;
	text-align: center;
}
.lotteryStart .button{
	position: absolute;
	bottom: 5%;
	left: 50%;
    transform: translateX(-50%);
	max-width: 228px;
	width:100%;
}
.lotteryStart .button button{
	cursor: pointer;
	height: 55px;
	background:linear-gradient(#007DCB ,#0FAEFF ,#007DCB );
	border: 2px solid #fff;
	border-radius: 200px;
	color:#fff;
	font-size: 2rem;
	padding: 10px;
}

.lotteryStart .lottery {
	position: absolute;
    top: 25%;
    right: 5%;
    left: 5%;
}

.lotteryStart .lottery img {
	/* height: 240px; */
}

.lotteryStart .lottery video {
	width: 100%;
	height: 240px;
}

.campaignOverview{padding: 0 0 40px;}
.campaignOverview .inner{
	max-width:inherit;
	padding:0 25px;
}
.campaignOverview .txt{
	padding: 15px 20px;
	width:100%;
	min-height: 250px;
	background:#fff;
	border:0;
	border-radius: 22px;
	font-size:1rem;
	font-weight: 500;
}
.lotteryScreen{
	position: relative;
	min-height:100vh;
	padding:30px 0;
	background:no-repeat center top;
	background-size:cover;
	text-align: center;
}
.lotteryScreen.per:before{
	content:"";
	pointer-events: none;
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	z-index: 1;
	height:100%;
	background-position: center 40%;
	background:url(../img/lottery/bg_lottery_bor_sp.png)no-repeat center;
	background-size:100%;
}
.lotteryScreen.per{
	background: url(../img/lottery/bg_lottery_sp.png)no-repeat center top #76DAFF;
	background-size:auto;
}
.lotteryScreen.off{
	background-image:url(../img/lottery/bg_lottery_off_sp.png);
}

.lotteryScreen .hd01{
	transform: translateY(100%);
	margin-bottom: 0px;
}
.lotteryScreen .hd02{
	position: relative;
	z-index: 2;
	padding: 1.95vw 0 0;
	margin:-60px -10px 40px;
	height:73px;
	text-shadow:1px 1px 0 #000,-1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
	background:url(../img/common/bg_hd02_sp.png)no-repeat center;
	background-size:100%;
	color:#fff;
	font-size: 2.5rem;
	font-weight: 800;
}
.lotteryScreen .hd03{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: left;
	margin: 0 auto;
	max-width: 90%;
}
.lotteryScreen .hd03 .pre{
	width:100%;
	color:#707070;
	font-size:2rem;
	font-weight: 700;
}
.lotteryScreen .hd04{
	margin: -40px 0 18px
}
.lotteryScreen .winner{
	margin:auto;
	max-width:1082px;
	background:url(../img/lottery/bg_lottery_dialog.png)no-repeat center;
	background-size:100% 100%;
	padding:100px 20px;

}
.lotteryScreen .bg{
	padding: 25px 5px 50px;
	margin: 60px auto 0;
	max-width:980px;
	background:#fff;
	border-radius: 50px;
}
.lotteryScreen .another{
	margin-top: 30px;
	color:#707070;
	font-size: 2rem;
	font-weight: 700;
}
.lotteryScreen .link{margin-top:60px;}
.lotteryScreen.per .link{margin-top:0;}
.lotteryScreen.price{
	background:url(../img/lottery/bg_lottery_prize_sp.png)no-repeat center 90px #CECECE;
	background-size:auto;
}
.lotteryScreen .hd01 img{
	height:80px;
	max-width: 160px;
}

.contactForm {
	padding: 30px 0 100px;
	font-size: 1.2rem;
}
.contactForm .inner{
	max-width:1586px;
	padding: 0 15px;
}
.contactForm .bg{
	background:#fff;
	padding:15px 15px 80px;
	border-radius:0;
}
.contactForm form{padding:0;}
.contactForm.confirm .hdM{ margin-bottom: 0px;}
.contactForm table{width:100%;}
.contactForm tr{border-bottom:0px solid #D0D0D0;}
.contactForm th{
	vertical-align: top;
	padding: 10px 0px 0px;
	font-weight: bold;
	width: 100%;
	display: block;

}
.contactForm td{
	vertical-align: top;
	padding:10px 0 10px;
	font-weight: 500;
	width: 100%;
	display: block;
}
.contactForm .full tr{border-bottom:0;}
.contactForm .full th{
	display: block;
	padding: 24px 0 8px;
	width: 100%;
}
.contactForm .full td{
	display: block;
	padding:0;
	width: 100%;
}
.contactForm input::-webkit-input-placeholder{color:#B9B9B9;}
.contactForm input[type=text],
.contactForm select{
	padding:0 6px;
	width:100%;
	height: 30px;
	background:#F5F5F5;
	border:1px solid #B9B9B9;
	font-size:1em;
	padding-right:20px;
	background-position:right 10px center;
	background-size:10px;
}
.contactForm select{
	background:url(../img/common/ico_select.svg)no-repeat right 20px center #F5F5F5;
	color:#B9B9B9;
}
.checkboxStyle label,
.radioStyle label{
	display:inline-block;
	margin: 0 10px 15px;
	min-width: 80px;
}
.checkboxStyle input{
	display:inline-block;
	vertical-align: middle;
	margin-right:16px;
	width:40px;
	height:40px;
	background:url(../img/common/ico_checkbox.png)no-repeat center;
	background-size:100%;
}
.radioStyle input{
	display:inline-block;
	vertical-align: middle;
	margin-right:10px;
	width:20px;
	height:20px;
	background:url(../img/common/ico_radio.png)no-repeat center;
	background-size:100%;
}
.checkboxStyle input:checked{background-image:url(../img/common/ico_checkbox_checked.png);}
.radioStyle input:checked{background-image:url(../img/common/ico_radio_checked.png);}
.contactForm textarea{
	resize: none;
	padding: 5px 6px;
	width:100%;
	height: 166px;
	background:#F5F5F5;
	border:1px solid #B9B9B9;
}
.teamBtns{
	margin-top:40px;
	text-align:center;
}
.teamBtns input{
	margin:5px;
	min-width:140px;
	background:#007DCB;
	border:0;
	border-radius: 50px !important;
}
.teamBtns .submit{
	padding-left:60px;
	background: url(../img/common/ico_link.svg)no-repeat 30% center #007DCB;
	background-size:20px;
}
.teamBtns .edit{background:#696969;}
.contactForm .thanks{
	padding:0 20px;
	font-size: 2.3rem;
}

