@charset "UTF-8";
/*
 * tab.css
 *
 */

/* デザインB（タブレット） */
@media screen and (min-width: 600px) {
	/* タブレット用レイアウト 600px以上の範囲に収めるデザインはこの中に記述 */

	.hdL {
		padding:30px 0;
		margin-bottom: 40px;
		background:linear-gradient(to left,#0072E5,#00A8FF,#0072E5);
		text-align: center;
		line-height: 1.2;
		color:#fff;
		font-size: 4rem;
	}

	.hdL span{
		display:inline-block;
		padding:0 120px;
		background-size:auto 60px;
		background-image:url(../img/common/ico_hd_left.svg),url(../img/common/ico_hd_right.svg);
		background-repeat: no-repeat;
		background-position: left center, right center;
	}
	.hdM {
		display:flex;
		align-items: center;
		padding:5px 40px;
		margin-bottom: 80px;
		height:87px;
		border:2px solid #D0D0D0;
		border-left:22px solid #007DCB;
		color:#007DCB;
		font-size:2.7rem;
	}

	.imgBox{
		width: 100%;
		display: block;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.imgBox img{
		width: 100%;
	}

	.btnLink{
		display:inline-flex;
		align-items: center;
		justify-content: center;
		padding:0 80px;
		height:64px;
		background:#007DCB;
		border-radius:50px;
		color:#fff;
		font-size:2.3rem;
		font-weight: 700;
	}
	.btnLink:before{
		content:"";
		display:block;
		margin-right:20px;
		width:27px;
		height:27px;
		background:url(../img/common/ico_link.svg)no-repeat center;
		background-size:100%;
	}

	#wrapper {
		overflow:hidden;
		position: relative;
		width:100%;
		min-height:100vh;
		background:url(../img/lottery/bg_lottery_prize.png)repeat-y center top;
	}
	#top #wrapper{background:#BCBCBC;}
	#mainVisual {
		position:relative;
	}
	#mainVisual img{
		width:100%;
		height: 100%;
	}

	#mainVisual .scroll{
		position: absolute;
		left:50%;
		bottom: 8px;
		transform: translateX(-50%);
		width: 44px;
		background:url(../img/common/ico_down_circle_sp.svg)no-repeat center bottom;
		background-size:100%;
		text-align: center;
		color:#007DCB;
	}

	#mainVisual .scrollTxt{
		position: absolute;
		left:50%;
		bottom: 53px;
		transform: translateX(-50%);
		text-align: center;
		color:#007DCB;
		font-weight: 700;
		font-size: 1.5rem;
		text-shadow: 3px 3px 3px #fff, -3px -3px 3px #fff, -3px 3px 3px #fff, 3px -3px 3px #fff;
	}
	.prizeList .inner {
		max-width: 900px;
	}
	.inner {
		padding:0 35px;
		margin:0 auto;
	}
	.pageTop {
		display:none;
	}

	.prizeList {
		padding:0 0 50px;
		background:repeating-linear-gradient(to left, transparent 0, transparent 40px, rgba(232,232,232,0.5) 40px,rgba(232,232,232,0.5) 80px);
	}
	.prizeList .hdL span{
		padding:0 240px;
		background-image:url(../img/common/ico_hd_left02.svg),url(../img/common/ico_hd_right02.svg);
	}
	.prizeList ul{
		display:flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.prizeList li{
		flex:0 0 45%;
		position: relative;
		padding:0 10px 40px;
		margin:30px 0 50px;
		background:#fff;
		border:6px solid #808080;
		border-radius:24px;
		text-align: center;
	}
	.prizeList .tit{
		position: relative;
		left:50%;
		transform: translateX(-50%);
		padding: 4px 0;
		margin: -26px 0;
		height: 80px;
		width: 116%;
		background:url(../img/common/bg_hd.png)no-repeat center;
		background-size:100% 100%;
		text-shadow: 0 3px 0 #717171;
		-webkit-text-stroke: 2px #717171;
		font-size:2.8rem;
		color:#FFFFFF;
	}
	.prizeList .people:before{
		content:"";
		position: absolute;
		left:7%;
		bottom:0;
		z-index: -1;
		transform: skewX(-30deg);
		width:86%;
		height:62%;
		background:#DBDBDB;
	}
	.prizeList .people{
		position: relative;
		z-index: 2;
		line-height: 1.15;
		color:#ffffff;
		-webkit-text-stroke: 3px #434343;
		font-size:3.3rem;
		text-shadow: 0 8px 0 #434343;
	}
	.prizeList .people .num{font-size:1.38em;}

	#lottery {
		min-height: 950px;
		position: relative;
	}

	#lottery .hdL{
		padding: 15px 0;
		font-size: 3.5rem;
	}

	.lotteryStart{
		padding:0 0 40px;
		background:url(../img/common/bg_slash.png)no-repeat center;
		background-size:auto 100%;
		text-align: center;
	}
	.lotteryStart .button{
		position: absolute;
		bottom: 6%;
		left: 50%;
		transform: translateX(-50%);
		max-width: 228px;
		width: 100%;
	}
	.lotteryStart .button button{
		cursor: pointer;
		height: 90px;
		background:linear-gradient(#007DCB ,#0FAEFF ,#007DCB );
		border:2px solid #fff;
		border-radius: 100px;
		color:#fff;
		font-size:2.7rem;
		padding: 20px;
	}

	.lotteryStart .lottery {
		position: absolute;
		top: 23%;
		right: 5%;
		left: 5%;
	}

	.lotteryStart .lottery img {
		max-width: unset;
		height: 300px;
	}

	.lotteryStart .lottery video {
		height: 300px;
	}

	.campaignOverview {padding:0 0 100px;}
	.campaignOverview .inner{max-width:inherit;}
	.campaignOverview .txt{
		padding:40px;
		width:100%;
		min-height:500px;
		background:#fff;
		border:0;
		border-radius: 22px;
		font-size:3rem;
		font-weight: 500;
	}
	.lotteryScreen{
		position: relative;
		min-height:100vh;
		padding:30px 0;
		background:no-repeat center top;
		background-size:cover;
		text-align: center;
	}
	.lotteryScreen.per:before{
		content:"";
		pointer-events: none;
		position: absolute;
		bottom:0;
		left:0;
		right:0;
		z-index: 1;
		height:100%;
		background:url(../img/lottery/bg_lottery_bor.png)no-repeat center;
		background-size:100%;
	}
	.lotteryScreen.per{background-image:url(../img/lottery/bg_lottery.png);}
	.lotteryScreen.off{background-image:url(../img/lottery/bg_lottery_off.png);}

	.lotteryScreen .hd01{
		margin-bottom: 22px;
	}

	.lotteryScreen .hd01 img{
		height:80px;
		max-width: 280px;
	}

	.lotteryScreen .hd02{
		position: relative;
		z-index: 2;
		padding: 1vw 0 0;
		margin-top:-50px;
		height:12.6667vw;
		background:url(../img/common/bg_hd02.png)no-repeat center top;
		background-size:100%;
		color:#fff;
		font-size: 4vw;
		font-weight: 800;
	}
	.lotteryScreen .hd03{
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		margin:0 auto -90px;
		max-width: 635px;
		text-align: left;
	}
	.lotteryScreen .hd03 .pre{
		width:100%;
		color:#707070;
		font-size:4rem;
		font-weight: 700;
	}
	.lotteryScreen .hd04{
		margin-top:-120px;
	}
	.lotteryScreen .winner{
		margin:auto;
		padding:50px;
		max-width:1082px;
		background:url(../img/lottery/bg_lottery_dialog.png)no-repeat center;
		background-size:100% 100%;
	}
	.lotteryScreen .bg{
		padding:48px 30px 30px;
		margin:80px auto 0;
		max-width:980px;
		background:#fff;
		border-radius: 95px;
	}
	.lotteryScreen .another{
		margin-top:40px;
		color:#707070;
		font-size:3rem;
		font-weight: 700;
	}
	.lotteryScreen .link{margin-top:60px;}
	.lotteryScreen.per .link{margin-top:0;}

	.contactForm {
		padding:100px 0;
		font-size:2.3rem;
	}
	.contactForm .inner{
		max-width:1586px;
	}
	.contactForm .bg{
		padding:15px 15px 100px;
		background:#fff;
		border-radius:9px;
	}
	.contactForm form{padding:0 40px;}
	.contactForm.confirm .hdM{ margin-bottom: 40px;}
	.contactForm table{width:100%;}
	.contactForm tr{border-bottom:2px solid #D0D0D0;}
	.contactForm th{
		vertical-align: top;
		padding: 10px 0px 0px;
		font-weight: bold;
		width: 100%;
		display: block;
	}
	.contactForm td{
		vertical-align: top;
		padding:10px 0 20px;
		font-weight: 500;
	}
	.contactForm .full tr{border-bottom:0;}
	.contactForm .full th{
		display:block;
		padding:60px 40px 40px;
		width:100%;
	}
	.contactForm .full td{
		display:block;
		padding:0 40px;
		width:100%;
	}
	.contactForm input::-webkit-input-placeholder{color:#B9B9B9;}
	.contactForm input[type=text],
	.contactForm select{
		padding:0 40px;
		width:100%;
		height:52px;
		background:#F5F5F5;
		border:2px solid #B9B9B9;
		font-size:1em;
	}
	.contactForm select{
		background:url(../img/common/ico_select.svg)no-repeat right 20px center #F5F5F5;
		color:#B9B9B9;
	}
	.checkboxStyle label,
	.radioStyle label{
		display:block;
		margin:0 0 20px;
	}
	.checkboxStyle input{
		display:inline-block;
		vertical-align: middle;
		margin-right:16px;
		width:40px;
		height:40px;
		background:url(../img/common/ico_checkbox.png)no-repeat center;
		background-size:100%;
	}
	.radioStyle input{
		display:inline-block;
		vertical-align: middle;
		margin-right:16px;
		width:40px;
		height:40px;
		background:url(../img/common/ico_radio.png)no-repeat center;
		background-size:100%;
	}
	.checkboxStyle input:checked{background-image:url(../img/common/ico_checkbox_checked.png);}
	.radioStyle input:checked{background-image:url(../img/common/ico_radio_checked.png);}
	.contactForm textarea{
		resize: none;
		padding:20px 40px;
		width:100%;
		height:350px;
		background:#F5F5F5;
		border:2px solid #B9B9B9;
	}
	.teamBtns{
		margin-top:80px;
		text-align:center;
	}
	.teamBtns input{
		margin:5px;
		min-width:260px;
		background:#007DCB;
		border:0;
		border-radius: 50px !important;
	}
	.teamBtns .submit{
		padding-left:100px;
		background: url(../img/common/ico_link.svg)no-repeat 30% center #007DCB;
	}
	.teamBtns .edit{background:#696969;}
	.contactForm .thanks{
		padding:0 30px;
		font-size: 2.7rem;
	}
}